<div class = "logo_size">
  <h1>Welcome to Pasta Bin!</h1>
  <p>You know what to do! Login and get Noodlin'.</p>


    <h4>Please Login In</h4>




  <% if flash[:errors]%>
      <%  flash[:errors].each do |error| %>
      <p> <%=error%> </p>
      <%end%>
  <%end%>

</div>




<div id = "login">
  <%= form_for :session, url: '/sessions' do |f|  %>
  
      <%= f.label :username %>
      <%= f.text_field :username %>
  
      <%= f.label :password %>
      <%= f.password_field :password %>
  
      <%= f.submit "Log In" %>
  <% end %>
</div>

