<% if flash[:errors]%>
    <% flash[:errors].each do |error| %>

    <p> <%=error%> </p>
    <% end %>
<%end%>
<div class = "text_formatting" >
<%= form_for @user do |f| %>

<%= f.label :username %>
<%= f.text_field :username %>

<%= f.label :password %>
<%= f.text_field :password %>

<%= f.submit %>

<% end %>
</div>