<% if flash[:errors]%>
    <% if flash[:errors].each do |error| %>
    <p> <%=error%> </p>


<%= form_for @user do |f| %>

<%= f.label :username %>
<%= f.text_field :username %>

<%= f.label :password %>
<%= f.text_field :password %>

<%= f.submit %>

<% end %>